@{
    ViewData["Title"] = "Sorting Steps";
}

<main class="bg-dark pb-4">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="text-center">
                    <h1 class="display-4">Die sortierschritte</h1>
                    <p>Quicksort</a>.</p>
                </div>
            </div>
        </div>
    </div>
</main>

